[Unit]
Description=LVGL Demo Application
After=weston-launch.service
Requires=weston-launch.service

[Service]
Type=forking
PIDFile=/run/wings_app.pid

ExecStart=/etc/lvgl-demo-init start
ExecStop=/etc/lvgl-demo-init stop

Restart=always
RestartSec=5
StartLimitIntervalSec=0
TimeoutStartSec=30
TimeoutStopSec=15
KillMode=control-group

[Install]
WantedBy=multi-user.target